<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>Enter User Details<body>
<form action="#" th:object="${book}" th:action="@{/check}" method="post">
    <div style="width: 600px;height: auto;margin-left: auto;margin-right: auto">

        <table class="table table-dark">
            <tbody>
            <tr>
                <td><label>Enter Username<span style="color: red">*</span> : </label></td>
                <td><input type="text"  required name="username" id="username" placeholder="Enter Username"/></td>
            </tr>
            <hidden path="username"></hidden>
<tr>
    <td><label>Enter Phone<span style="color: red">*</span> : </label></td>
  <td>  <input type="text"  required name="phone" id="phone" placeholder="Enter Phone Number"/></td>
            </tr>
            <hidden path="phone"></hidden>

            <td><input type="submit" value="submit" /></td>
            <td></td>
            </tr>

            </tbody>
        </table>
    </div>
</form>
</body>
</html>