<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Page</title>
    <style>
        input{
            width: 100%;
        }
        .error
        {
            color: red;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</head>
<body>
<h2 style="display: block;margin:0px;background: deepskyblue;text-align: center">Update Personal Data</h2>
<br/>
<form action="#"  th:object="${authority}" th:action="@{/saverole}" method="post">
    <div style="width: 600px;height: auto;margin-left: auto;margin-right: auto">


        <table class="table table-hover">
            <tbody>
            <tr>
                <td><label>Username<span style="color: red">*</span> :</label></td>
                <td><input type="text" th:field="*{username}" required ></td>
            </tr>
            <tr>
            <tr>
                <td><label>Enter role<span style="color: red">*</span> :</label></td>
                <td><input type="text" name="authority" id="authority" placeholder="Enter role in CAPS"></td>
            </tr>
            <tr>
                </tr>
            <div>
            <tr>
                <td>
                    <br>

                    <input type="submit" value="Save" />
                </td>

            </tr>
            </div>
            </tbody>
        </table>
    </div>

</form>